@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Titillium+Web:wght@300;400&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    scroll-behavior: smooth;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index:1;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a .logo-size {
    height: 40px;
}



.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}

#home, #about, #training, #sponsors, #contact {
    width: 100%;
  /*  height: 100vh;*/
    padding-top: 65px;
}

h2 {
    font-family: "Lato", sans-serif;;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url("../img/hero-image.jpg");
    background-position: center top;
	background-size:cover;
}

#home .home-text  {
    position: absolute;
    top: 25%;
    right: 10%;
    color: #fff;
    width: 40%; 
    font-size: 1.8vw;
}

#home .home-text .hero-text {
    font-size: 1.8vw;
    text-align: center;
}

#home .home-text .hero-text-2 {
    font-size: 1.6vw;
    color: #26a9e0;
    text-align: center;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* ABOUT SECTION */


.about-layout {
    min-height: 90vh;
    background: linear-gradient(0deg, rgba(38, 169, 224, 0.411), rgba(255, 255, 255, 0.9)); /*  rgba(0, 255, 234, 0.411), rgba(255, 255, 255, 0.9) */
  } /*  rgba(38, 169, 224, 0.411), rgba(255, 255, 255, 0.9) */


  .about-text, .about-text p {
    font-size: 2rem;
    text-align: justify;
}



  
  .about-img {
   /* min-height: 90vh;
    background-image: url("../img/bufcw-logo.png");
    background-position: center center;
    background-size: 55vh;
    background-repeat: no-repeat;*/
    height: 55vh;
    opacity: 0.4;
  }

  .about-img:hover {
    /*visibility: visible;*/
    opacity: 1;
    /*transition: opacity 2s linear;*/
    transition: opacity 3s ease-in-out;
  }

  /*
  .about-img:hover {
    opacity: 1;
    animation: fade 2s linear;
}

/*
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}*/







/* TRAINING SECTION */

#training {
    background: linear-gradient(0deg,rgba(0, 255, 234, 0.411), rgba(0, 255, 242, 0.658)), url("../img/training-image.jpg"); /*  rgba(0, 255, 234, 0.411), rgba(0, 255, 242, 0.658) */
   /* background-image: url("../img/training-image.jpg");*/
    background-position: center top;
    background-size:cover;
    background-attachment: fixed;
    color: #fff;
}

.card-layout {
    min-height: 90vh;
    /*padding: 40px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* .flip-card-container */
  .flip-card-container {
    width: 210px;
   /* height: 300px;*/
    margin: 40px;
    perspective: 1000px;
  }

  .card-object {
    height: 35vh;
    transform-style: preserve-3d;
  }

  .card-object.flip-in.card-1,
  .card-object.flip-in.card-3,
  .card-object.flip-in.card-5 {
    -webkit-animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
            animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }
  .card-object.flip-in.card-2,
  .card-object.flip-in.card-4 {
    -webkit-animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
            animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }
  .card-object.flip-out.card-1,
  .card-object.flip-out.card-3,
  .card-object.flip-out.card-5 {
    animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
  }
  .card-object.flip-out.card-2,
  .card-object.flip-out.card-4 {
    animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
  }
  .card-object-hf .back {
    transform: rotateX(180deg);
  }
  .face {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .face.front {
    z-index: 20;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .face.front::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: "";
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.9) 100%) no-repeat;
    opacity: 0.7;
    z-index: 20;
    transition: opacity 0.2s ease;
  }
  .face.front::after {
    position: absolute;
    top: 7%;
    right: 7%;
    bottom: 7%;
    left: 7%;
    border: 1px solid rgba(255, 255, 255, 0.35);
    z-index: 100;
    content: "";
  }
  .face.front .title-wrapper {
   /* position: absolute;
    bottom: 34%;
    left: 25%;
    right: 25%;
    overflow: hidden;
    display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    z-index: 100;
    transform: translateY(0);
    transition: transform 0.28s ease;
  }
  .face.front .title-wrapper .title {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.3vw;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  .face.front .title-wrapper .title::after {
    display: block;
    margin: 7% auto 8% auto;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #fff;
    opacity: 0.5;
    transform: scale(0);
    transition: transform 0.15s;
  }
  .face.front .title-wrapper .subtitle {
    font-size: 0.9vw;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.15s;
  }
  .face.front:hover::before {
    opacity: 0.9;
  }
  .face.front:hover .title-wrapper {
    transform: translateY(-50%);
  }
  .face.front:hover .title-wrapper .title {
    opacity: 1;
  }
  .face.front:hover .title-wrapper .title::after {
    transform: scale(1);
    opacity: 0.5;
    transition-delay: 0.15s;
    transition-duration: 0.2s;
  }
  .face.front:hover .title-wrapper .subtitle {
    opacity: 0.7;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
  }

a:hover .title-wrapper {
    color: #00E676 !important; 
}

  .face.back {
    color: #262626;
    background: #fff;
    border-radius: 20px;
    opacity: .9;
    z-index: 10;
  }
/*
  .back .info-wrapper {
    margin-bottom: 50%;
  }

  .back .info-wrapper-2 {
    margin-bottom: 30%;
  }*/


  .info-text {
    font-size: 1.3vw;
    text-transform: uppercase;
    text-align: center;
  }

  /* ----------------------------------------------
   * Generated by Animista on 2017-21-5 2:48:23
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  /**
   * ----------------------------------------
   * animation flip-2-hor-top-fwd
   * ----------------------------------------
   */
  @-webkit-keyframes flip-2-hor-top-fwd {
    0% {
      transform: translateY(0) translateZ(0) rotateX(0);
      transform-origin: 50% 0%;
    }
    100% {
      transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
      transform-origin: 50% 100%;
    }
  }
  @keyframes flip-2-hor-top-fwd {
    0% {
      transform: translateY(0) translateZ(0) rotateX(0);
      transform-origin: 50% 0%;
    }
    100% {
      transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
      transform-origin: 50% 100%;
    }
  }
  /**
   * ----------------------------------------
   * animation flip-2-hor-bottom-fwd
   * ----------------------------------------
   */
  @-webkit-keyframes flip-2-hor-bottom-fwd {
    0% {
      transform: translateY(0) translateZ(0) rotateX(0);
      transform-origin: 50% 100%;
    }
    100% {
      transform: translateY(100%) translateZ(100px) rotateX(180deg);
      transform-origin: 50% 0%;
    }
  }
  @keyframes flip-2-hor-bottom-fwd {
    0% {
      transform: translateY(0) translateZ(0) rotateX(0);
      transform-origin: 50% 100%;
    }
    100% {
      transform: translateY(100%) translateZ(100px) rotateX(180deg);
      transform-origin: 50% 0%;
    }
  }



/* SPONSORS SECTION */
/*
#sponsors {
    background-color: #26a9e0;
    color: #fff;
}*/

.sponsor-layout {
    min-height: 90vh;
    /*padding: 40px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.card {
   /* height: auto;*/
    width: 35rem;
    border-radius:20px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}





/* CONTACT SECTION */

.contact{
    background-color: #26a9e0;
    color: #fff;
}

.contact-layout {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-box {
    width: 50vw; /*clamp(100px, 90%, 1000px); */
  /*  margin: 80px 50px;*/
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-links, .contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
  }
  
  
  .contact-links {
    background-color: #1f2e43;
    background:
      radial-gradient(
        circle at 55% 92%, #426691 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #426691 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
      ), 
      radial-gradient(
        circle at 0% 0%, #263a53 0 40%, transparent 40.2%
      ), 
      #1f2e43;
    border-radius: 10px 0 0 10px;
  }
  
  .contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 0 10px 10px 0;
  }









/* Media qurey section */

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }

    .team-name {
        display: none;
    }
/*
    .face.front .title-wrapper {
        bottom: 30%;
    }*/

    .face.front .title-wrapper .title {
        font-size: 2.2vw;
    }

    .face.front .title-wrapper .subtitle {
        font-size: 1.3vw;
    }

    .info-text {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {

    .nav div.logo {
        float: none;
        padding: 0;
    }

    .team-name {
        display: none;
    }
/*
    .myH2 {
        padding-bottom: 4rem;
    }*/

    .about-img {
        display: contents;
    }
/*
    .cards-wrapper {
        /* position: relative;*/
        /* list-style: none;*/
        /* display: flex;
         flex-wrap: wrap;
    }*/
     
    .card-object {
        height: 25vh;
        width: auto;
       /* align-items: center;*/
    }
     
    .face.front .title-wrapper .title {
        font-size: 2.8vw;
    }

    .face.front .title-wrapper .subtitle {
        font-size: 1.8vw;
    }

    .info-text {
        font-size: 2.8vw;
    }
/*
    .back .info-wrapper {
        margin-bottom: 35%;
      }
 */   
  



    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 80vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }

}

@media (max-width: 500px) {

    .face.front .title-wrapper .title {
        font-size: 4vw;
    }

    .face.front .title-wrapper .subtitle {
        font-size: 2.5vw;
    }

    .info-text {
        font-size: 4vw;
    }

}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

/*test*/