@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&family=Titillium+Web&display=swap');

/* General Site Layout */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#about, #training, #sponsors, #contact {
    width: 100%;
    padding-top: 7rem;
}

.myH2 {
    font-family: "Roboto Serif", sans-serif;
    font-weight: 600;
	text-align:center;
	font-size: 4rem;
    text-decoration: underline;
}


/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 6.5rem;
    position: fixed;
    line-height: 6.5rem;
    text-align: center;
    z-index:1;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a .logo-size {
    height: 4rem;
}

.nav div.logo a:hover {
    color: #26a9e0; /*#00E676*/
}

.nav div.main_list {
    height: 6.5rem;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 6.5rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 6.5rem;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 6.5rem;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #26a9e0;
}

.navTrigger {
    display: none;
}

/* Home section */

#home {
    width: 100%;
    height: 100vh;
    /*background: #70C6EB;*/
    background: url("/assets/img/jpg/hero-image.jpg");
    background: url("/assets/img/webp/hero-image.webp") #70C6EB;
    background-position: center top;
	background-size:cover;
}

#home .home-text  {
    background-color: #00000077;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%; 
    padding: 1.5rem 0;
    color: #fff;
    border-radius: 2rem;
    border: solid 1px #faaf3f;
    text-align: center;

    animation: fadeIn 8s;
        -webkit-animation: fadeIn 8s;
        -moz-animation: fadeIn 8s;
        -o-animation: fadeIn 8s;
        -ms-animation: fadeIn 8s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.label {
    position: relative;
    display: block;
}

.hero-text {
    font-size: 2.2vw;
}

.hero-text-sm {
    font-size: 1.4vw;
    color: #26a9e0;
}

/* ABOUT SECTION */

#about {
    background: #26a9e033;
    background: linear-gradient(270deg, rgba(38, 169, 224, 0.411), rgba(255, 255, 255, 0.9));
}

.about-layout {
    min-height: 90vh;
} 

.about-text, .about-text p {
    font-size: 2.2rem;
    text-align: justify;
}

.about-img {
    height: 45rem;
}

/* TRAINING SECTION */

#training {
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.5), rgba(4, 174, 253, 0.9)), url("/assets/img/jpg/training-image.jpg");
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.5), rgba(4, 174, 253, 0.9)), url("/assets/img/webp/training-image.webp");
    background-position: center center;
    background-size:cover;
    color: #fff;
}

.card-layout {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.flip-card-container {
    width: 21rem;
    margin: 4rem;
    perspective: 1000px;
}

.card-object {
    height: 30rem;
    transform-style: preserve-3d;
}

.card-object.flip-in.card-1,
.card-object.flip-in.card-3,
.card-object.flip-in.card-5 {
    -webkit-animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
            animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.card-object.flip-in.card-2,
.card-object.flip-in.card-4 {
    -webkit-animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
            animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.card-object.flip-out.card-1,
.card-object.flip-out.card-3,
.card-object.flip-out.card-5 {
    animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}

.card-object.flip-out.card-2,
.card-object.flip-out.card-4 {
    animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}

.card-object-hf .back {
    transform: rotateX(180deg);
}

.face {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateX(0deg); /* Added for Mozilla as back-face visability isn't working */
    -webkit-backface-visibility: hidden; /*Safari Webkit*/
            backface-visibility: hidden;
}

.face.front {
    z-index: 20;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.face.front::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: "";
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.9) 100%) no-repeat;
    opacity: 0.7;
    z-index: 20;
    transition: opacity 0.2s ease;
}

.face.front::after {
    position: absolute;
    top: 7%;
    right: 7%;
    bottom: 7%;
    left: 7%;
    border: 1px solid rgba(255, 255, 255, 0.35);
    z-index: 100;
    content: "";
}

.face.front .title-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    z-index: 100;
    transform: translateY(0);
    transition: transform 0.28s ease;
}

.face.front .title-wrapper .title {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.face.front .title-wrapper .title::after {
    display: block;
    margin: 7% auto 8% auto;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #fff;
    opacity: 0.5;
    transform: scale(0);
    transition: transform 0.15s;
}

.face.front .title-wrapper .subtitle {
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.15s;
}

.face.front:hover::before {
    opacity: 0.9;
}

.face.front:hover .title-wrapper {
    transform: translateY(-50%);
}

.face.front:hover .title-wrapper .title {
    opacity: 1;
}

.face.front:hover .title-wrapper .title::after {
    transform: scale(1);
    opacity: 0.5;
    transition-delay: 0.15s;
    transition-duration: 0.2s;
}

.face.front:hover .title-wrapper .subtitle {
    opacity: 0.7;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

a:hover .title-wrapper {
    color: #00E676 !important; 
}

.face.back {
    color: #262626;
    background: #fff;
    border-radius: 2rem;
    opacity: .9;
    z-index: 10;
}

.info-text {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
}

  /* ----------------------------------------------
   * Generated by Animista on 2017-21-5 2:48:23
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  /**
   * ----------------------------------------
   * animation flip-2-hor-top-fwd
   * ----------------------------------------
   */
@-webkit-keyframes flip-2-hor-top-fwd {
    0% {
      transform: translateY(0) translateZ(0) rotateX(0);
      transform-origin: 50% 0%;
    }
    100% {
      transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
      transform-origin: 50% 100%;
    }
}

@keyframes flip-2-hor-top-fwd {
    0% {
      transform: translateY(0) translateZ(0) rotateX(0);
      transform-origin: 50% 0%;
    }
    100% {
      transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
      transform-origin: 50% 100%;
    }
}

  /**
   * ----------------------------------------
   * animation flip-2-hor-bottom-fwd
   * ----------------------------------------
   */
@-webkit-keyframes flip-2-hor-bottom-fwd {
    0% {
      transform: translateY(0) translateZ(0) rotateX(0);
      transform-origin: 50% 100%;
    }
    100% {
      transform: translateY(100%) translateZ(100px) rotateX(180deg);
      transform-origin: 50% 0%;
    }
}

@keyframes flip-2-hor-bottom-fwd {
    0% {
      transform: translateY(0) translateZ(0) rotateX(0);
      transform-origin: 50% 100%;
    }
    100% {
      transform: translateY(100%) translateZ(100px) rotateX(180deg);
      transform-origin: 50% 0%;
    }
}

/* SPONSORS SECTION */

#sponsors {
    background: #26a9e033;
    background: linear-gradient(0deg, rgba(38, 169, 224), rgba(255, 255, 255, 0.9));
}

.sponsor-layout {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 35rem;
    border-radius:2rem;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.10);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card a img {
    padding: 3rem;
}

/* CONTACT SECTION */

#contact {
    /*background-color: #70C6EB;*/
    background: url("/assets/img/jpg/adidas-football.jpg") #70C6EB;
    background: url("/assets/img/webp/adidas-football.webp") #70C6EB;
    background-position: center top;
    background-size:cover;
    color: #fff;
}

.contact-layout {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.contact-box {
    width: clamp(10rem, 90%, 100rem);
    margin: 8rem 5rem;
    display: flex;
    flex-wrap: wrap;
}
  
.contact-links, .contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
}
  
.contact-links {
    background-color: #1f2e43;
    background:
      radial-gradient(
        circle at 55% 92%, #426691 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #426691 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
      ), 
      radial-gradient(
        circle at 0% 0%, #263a53 0 40%, transparent 40.2%
      ), 
      #1f2e43;
    border-radius: 10px 0 0 10px;
}
  
.contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 0 1rem 1rem 0;
}

#contact .contact-links h3 {
    color: #fff;
    font-size: clamp(2rem, 4vw, 4rem);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
}
  
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
}
  
.link {
    margin: 1rem;
    cursor: pointer;
}

.link i {
    width: 4rem;
    height: 4rem;
    padding: 1.3rem 0 0 1px;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 1.6rem;
    text-align: center;
    color: #F8F9FA;
    background: #26a9e0;
    transition: all 0.35s ease-in-out;
}

.link i:hover {
    background: #faaf3f;
    color: #212529;
}

.form-item-hidden {
    display: none;
}

.form-item {
    position: relative;
}

label {
    position: absolute;
    top: 1rem;
    left: 2%;
    color: #999;
    font-size: clamp(1.4rem, 1.5vw, 1.8rem);
    pointer-events: none;
    user-select: none;
}
  
input, textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 1.2rem;
    font-size: clamp(1.5rem, 1.5vw, 1.8rem);
}
  
input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
    font-size: clamp(1.3rem, 1.3vw, 1.6rem);
    color: #000;
    top: -2rem;
    transition: all .225s ease;
}
  
.submit-btn {
    background-color: #26a9e0;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-size: clamp(1.6rem, 1.6vw, 1.8rem);
    display: block;
    padding: 1.2rem 2rem;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: all 0.35s ease-in-out;
}
  
.submit-btn:hover {
    background-color: #faaf3f;
    color: #000;
    transform: scale(1.1, 1.1);
}
  
.submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
}


/* Media query section */

@media (max-width: 1200px) {

    .team-name, .nav div.main_list ul li a {
        font-size: 2.2rem;
    }

    #home .home-text {
        transform: translate(-50%, -50%);
    }

    .card-object {
        height: 25rem;
    }

    .card {
         width: 30rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .myH2 {
        font-size: 3.5rem;
    }

    .team-name {
        display: none;
    }

    #home .home-text  {
        transform: translate(-50%, -50%);
        width: 43%;
    }
    
    .hero-text {
        font-size: 3vw;
    }

    .hero-text-sm {
        font-size: 2vw;
    }

}

@media (max-width: 768px) {

    .myH2 {
        font-size: 3.5rem;
    }

    .nav div.logo {
        float: none;
        padding: 0;
    }

    .team-name {
        display: none;
    }

    #home .home-text  {
        transform: translate(-50%, -50%);
        width: 50%;
    }
    
    .hero-text {
        font-size: 3.5vw;
    }
    
    .hero-text-sm {
        font-size: 2.3vw;
    }

    #about {
        background: linear-gradient(0deg, rgba(38, 169, 224, 0.411), rgba(255, 255, 255, 0.9));
    }

    .about-img {
        display: contents;
    }
  
    .card-object {
        height: 20rem;
        width: auto;
    }
     
    .face.front .title-wrapper .title {
        font-size: 1.8rem;
    }

    .face.front .title-wrapper .subtitle {
        font-size: 1.2rem;
    }

    .info-text {
        font-size: 1.7rem;
    }
    
    .sponsor-layout {
        padding: 5rem;
    }

    .contact-layout {
        padding: 2rem;
    }

    .contact-links, .contact-form-wrapper {
        width: 100%;
    }
      
    .contact-links {
        border-radius: 1rem 1rem 0 0;
    }
      
    .contact-form-wrapper {
        border-radius: 0 0 1rem 1rem;
    }

    .links {
        padding: 2.5rem 0 2.5rem;
    }
    
    .navTrigger {
        display: block;
    }

    .nav div.logo {
        margin-left: 1.5rem;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
        border-radius: 1rem;
        border: solid 1px #fff;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 80vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        background-position: center top;
        overflow: auto;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 2.5rem;
        padding: 2rem;
    }

    .nav div.media_button {
        display: block;
    }

}

@media (max-width: 576px) {

    .nav div.main_list ul li a {
        font-size: 2.5rem;
    }

    #home .home-text  {
        transform: translate(-50%, -50%);
        width: 75%;
    }
    
    .hero-text {
        font-size: 5.5vw;
    }
    
    .hero-text-sm {
        font-size: 3.5vw;
    }

    .myH2 {
        font-size: 3rem;
    }

    .about-text, .about-text p {
        font-size: 1.6rem;
    }

    #training {
        background: linear-gradient(0deg,rgba(255, 255, 255, 0.5), rgba(4, 174, 253, 0.9)), url("/assets/img/jpg/training-image-mob.jpg");
        background: linear-gradient(0deg,rgba(255, 255, 255, 0.5), rgba(4, 174, 253, 0.9)), url("/assets/img/webp/training-image-mob.webp");
        background-position: center left;
        background-size:cover;
    }

    .sponsor-layout {
        padding-top: 1rem;
    }

    .card {
        width: 25rem;
    }

    .card a img {
        padding: 1rem;
    }

    .contact-box {
        width: 95%;
        margin: 8% 5%;
    }

}


@media (min-width: 1200px) {

    #home .home-text {
        top: 15%;
        right: 20%;
        transform: none;
    }

}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 3rem;
    height: 2.5rem;
    margin: auto;
    position: absolute;
    right: 3rem;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #000;
}